@use "../mixins" as *;

.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  border: 1px solid var(--light-color);
  border-radius: var(--border-radius);
  padding-right: 80px;
  padding-left: 31px;
  height: var(--input-height);
  line-height: 200%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition-duration: var(--transition-duration);

  @include font(13px, 700, var(--light-color));

  &::after {
    content: "";
    position: absolute;
    right: -1px;
    border: 1px solid var(--light-color);
    border-radius: var(--border-radius);
    height: 100%;
    background: url("../img/svg/button-arrow-icon.svg") center/70% no-repeat;
    aspect-ratio: 1;
  }

  @include hover {
    color: var(--dark-gray-color);
    background-color: var(--gray-color);
  }
}
